* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

body.no-scroll {
  height: 100vh;
  overflow: hidden;
}

img {
  object-fit: contain;
}

.columns {
  margin: 0;
}

.columns:not(:last-child) {
  margin: 0;
}

p,
i,
strong,
b,
input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 200;
}

h1,
h3,
h5 {
  font-family: clarendon-text-pro, serif;
}

h2,
h4,
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 1.68rem;
}

h3 {
  font-size: 1.68rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.12rem;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.italic {
  text-emphasis: oblique;
}

.m15 {
  margin: 15px;
}

.w80 {
  width: 80%;
}

.w50 {
  width: 50%;
}

.w25 {
  width: 25%;
}

.z5 {
  z-index: 5;
  position: relative;
}

.white-text {
  color: #FFFFFF !important;
}

.lightBlue-text {
  color: #3DB5E6;
}

.blue-text {
  color: #004B98;
}

.darkBlue-text {
  color: #0A2240;
}

.red-text {
  color: #E1261C;
}

.black-text {
  color: #000000;
}

.fas {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 3px;
}

input[type=radio] {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  width: 15px;
  height: 15px;
  margin: 0 4px 0 0;
}

input[type=radio]:checked {
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  outline: none;
}

@media screen and (min-width: 768px) {
  p,
i,
strong,
b {
    font-size: 1.6rem;
    line-height: 46px;
  }

  h1 {
    font-size: 4.48rem;
  }

  h2 {
    font-size: 3.36rem;
  }

  h3 {
    font-size: 3.36rem;
  }

  h4 {
    font-size: 3.08rem;
  }

  h5 {
    font-size: 1.96rem;
  }

  h6 {
    font-size: 1.96rem;
  }
}
@media screen and (min-width: 1200px) {
  p,
i,
strong,
b {
    font-size: 1.2rem;
    line-height: 26px;
  }

  h1 {
    font-size: 4.48rem;
  }

  h2 {
    font-size: 2.24rem;
  }

  h3 {
    font-size: 2.24rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  h6 {
    font-size: 1.4rem;
  }
}
div[class*=buttons] {
  margin: 5% 0;
}

div[class*=buttons]:hover a i {
  transition: 150ms all ease-in;
  margin-left: 10px;
}

a[class*=light-blue__button] {
  background-color: #3DB5E6;
  color: #000000;
}

a[class*=light-blue__button]:hover {
  background-color: #E1261C;
  color: #FFFFFF;
}

a[class*=red__button] {
  background-color: #E1261C;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

a[class*=red__button]:hover {
  background-color: #FFFFFF;
  color: #E1261C;
  border: none;
}

a[class*=button] {
  font-size: 0.95rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 4% 8%;
  border-radius: 50px;
  margin: 0 2% 5% 0;
  display: inline-flex;
  align-items: center;
}

.callout {
  text-decoration: none;
  color: #004B98;
  text-transform: uppercase;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  a[class*=button] {
    padding: 15px 30px;
    font-size: 1.4rem;
  }

  .callout {
    font-size: 2.24rem;
  }
}
@media screen and (min-width: 1200px) {
  a[class*=button] {
    padding: 15px 30px;
    font-size: 1.2rem;
  }
}
.outcomes__circle {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.25rem;
  font-size: bold;
  position: relative;
  margin: 0 0 10% 0;
}
.outcomes__circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 3px solid #FFFFFF;
  z-index: 1;
}

[class*=-background] {
  padding: 5% 10%;
}

.blue-background {
  background: #004B98;
  color: #FFFFFF;
}

.dark-background {
  background: #0A2240;
  color: #FFFFFF;
}

.white-background {
  background: #FFFFFF;
  color: #000000;
}

.red-background {
  background: #E1261C;
  color: #FFFFFF;
}

.gray-background {
  background: #C8C8C8;
  color: #000000;
}

.gradient-background {
  background: #004b98;
  background: radial-gradient(circle, #004b98 0%, #0a2240 100%);
}

@media screen and (min-width: 768px) {
  div[class*=-background] {
    padding: 5% 5%;
  }
}
.lines-background {
  position: relative;
}
.lines-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/homepage-news-lineart.png");
  background-size: contain;
}

.flex-column {
  flex-direction: column;
}

.center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.start-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.around-start {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.around-end {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.hero-video__wrapper {
  width: 100vw;
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-video__wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}
.hero-video__wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background: #000000;
  opacity: 0.3;
}
.hero-video__wrapper .hero-video__text-wrapper {
  position: absolute;
  width: 80%;
  color: #FFFFFF;
  z-index: 2;
}
.hero-video__wrapper .hero-video__text-wrapper h6 {
  margin: 4% 0 0 0;
}
.hero-video__wrapper .hero-video__text-wrapper .hero-video__buttons {
  margin: 10% 0 0 0;
}

@media screen and (min-width: 768px) {
  .hero-video__wrapper {
    height: 70vh;
  }
}
@media screen and (min-width: 1200px) {
  .hero-video__wrapper {
    height: 70vh;
  }
  .hero-video__wrapper .hero-video__text-wrapper .hero-video__buttons {
    margin: 2% 0 0 0;
  }
}
.quick-links__wrapper .offset-items__wrapper .offset-events__wrapper .offset-events__heading {
  display: flex;
  margin: 0 0 15px 0;
}
.quick-links__wrapper .offset-items__wrapper .offset-events__wrapper .offset-events__heading .academic-days-calendar {
  font-size: 30px;
  align-items: center;
  display: flex;
  margin: 0 10px 0 0;
}
.quick-links__wrapper .offset-items__wrapper .offset-events__wrapper .offset-events__heading span {
  margin: 3px 5px 0 0;
  width: 15%;
  font-size: 2rem;
}
.quick-links__wrapper .offset-items__wrapper .offset-events__wrapper .offset-events__heading h4 {
  width: 90%;
}
.quick-links__wrapper .offset-items__wrapper .offset-events__wrapper .offset-events__buttons {
  margin: 10% 0 0 0;
}
.quick-links__wrapper .offset-items__wrapper .offset-audience__wrapper h5 {
  margin: 0 0 5px 0;
}
.quick-links__wrapper .offset-items__wrapper .offset-audience__wrapper label {
  display: block;
  margin: 40px 0 15px 0;
  font-size: 2.25rem;
  font-weight: bold;
}
.quick-links__wrapper .offset-items__wrapper .offset-audience__wrapper select {
  width: 100%;
  padding: 4%;
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
}
.quick-links__wrapper .audience-items__wrapper {
  width: 80%;
  margin: 5% auto;
}
.quick-links__wrapper .audience-items__wrapper .audience-items__subset {
  width: 100%;
}
.quick-links__wrapper .audience-items__wrapper .audience-items__subset.hidden {
  display: none;
}
.quick-links__wrapper .audience-items__wrapper .audience-items__subset .audience-items__item {
  width: 100%;
  margin: 10% 0;
}
.quick-links__wrapper .audience-items__wrapper .audience-items__subset .audience-items__item img {
  width: 100%;
}
.quick-links__wrapper .audience-items__wrapper .audience-items__subset .audience-items__item h4 {
  margin: 0 0 2.5% 0;
}
.quick-links__wrapper .audience-items__wrapper .audience-items__subset .audience-items__item h4 a span {
  transform: translate(0%, 18%);
}

@media screen and (min-width: 768px) {
  .quick-links__wrapper .offset-items__wrapper {
    width: 90%;
    transform: translate(5%, -5%);
    z-index: 5;
    position: relative;
  }
  .quick-links__wrapper .offset-items__wrapper .offset-events__wrapper {
    margin: 0 0 25px 0;
  }
  .quick-links__wrapper .offset-items__wrapper .offset-audience__wrapper {
    margin: 25px 0 0 0;
  }
  .quick-links__wrapper .offset-items__wrapper .offset-audience__wrapper label {
    display: inline;
    width: auto;
    font-size: 3.36rem;
    margin: 10px 0 0 0;
    white-space: nowrap;
  }
  .quick-links__wrapper .offset-items__wrapper .offset-audience__wrapper select {
    display: inline;
    width: auto;
    padding: 2% 5%;
    margin: 50px 0 0 25px;
  }
}
@media screen and (min-width: 1200px) {
  .quick-links__wrapper .offset-items__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transform: translate(5%, -10%);
  }
  .quick-links__wrapper .offset-items__wrapper .offset-events__wrapper {
    width: 60%;
    padding: 3%;
    height: 350px;
  }
  .quick-links__wrapper .offset-items__wrapper .offset-events__wrapper .offset-events__heading span {
    width: 10%;
    font-size: 3rem;
    margin: 0;
  }
  .quick-links__wrapper .offset-items__wrapper .offset-events__wrapper .offset-events__buttons {
    margin: 1% 0 0 0;
  }
  .quick-links__wrapper .offset-items__wrapper .offset-audience__wrapper {
    width: 38%;
    padding: 5%;
    height: 350px;
    margin: 0;
  }
  .quick-links__wrapper .offset-items__wrapper .offset-audience__wrapper label {
    font-size: 2.8rem;
  }
  .quick-links__wrapper .offset-items__wrapper .offset-audience__wrapper select {
    margin: 7.5% 0 0 0;
    padding: 5% 10%;
  }
  .quick-links__wrapper .audience-items__wrapper .audience-items__subset {
    display: flex;
    justify-content: space-between;
  }
  .quick-links__wrapper .audience-items__wrapper .audience-items__subset .audience-items__item {
    width: 30%;
    margin: 0;
  }
}
@media screen and (min-width: 1920px) {
  .quick-links__wrapper .offset-items__wrapper .offset-events__wrapper {
    height: 400px;
  }
  .quick-links__wrapper .offset-items__wrapper .offset-audience__wrapper {
    height: 400px;
  }
}
@media screen and (min-width: 2200px) {
  .quick-links__wrapper .offset-items__wrapper .offset-events__wrapper {
    height: 450px;
  }
  .quick-links__wrapper .offset-items__wrapper .offset-audience__wrapper {
    padding: 3%;
    height: 450px;
  }
  .quick-links__wrapper .offset-items__wrapper .offset-audience__wrapper label {
    display: block;
  }
  .quick-links__wrapper .offset-items__wrapper .offset-audience__wrapper select {
    padding: 4% 5%;
    width: 60%;
  }
}
.tour-video__wrapper {
  width: 100vw;
  height: 60vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tour-video__wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tour-video__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: -60%;
  width: 250%;
  height: 100%;
  background-image: url(../images/homepage-virtualvisit-overlay.png);
  background-size: cover;
  background-position: right center;
  opacity: 0.3;
  z-index: 1;
}
.tour-video__wrapper .tour-video__text-wrapper {
  position: absolute;
  width: 80%;
  color: #FFFFFF;
  z-index: 2;
}
.tour-video__wrapper .tour-video__text-wrapper h2 {
  margin: 4% 0 0 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tour-video__wrapper .tour-video__text-wrapper .tour-video__buttons {
  margin: 10% 0 0 0;
}

@media screen and (min-width: 768px) {
  .tour-video__wrapper {
    height: 35vh;
  }
  .tour-video__wrapper .tour-video__text-wrapper .tour-video__buttons {
    margin: 2% 0 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .tour-video__wrapper {
    height: 40vh;
  }
}
@media screen and (min-width: 1950px) {
  .tour-video__wrapper {
    height: 50vh;
  }
}
.why-etown__wrapper .audience-items__item {
  width: 100%;
  margin: 10% 0 20%;
}
.why-etown__wrapper .audience-items__item img {
  width: 100%;
}
.why-etown__wrapper .audience-items__item h2 {
  margin: 2.5% 0 2.5% 0;
}
.why-etown__wrapper .audience-items__item h2 a {
  font-family: clarendon-text-pro, serif;
  text-decoration: none;
  color: #004B98;
  text-transform: uppercase;
  font-size: 1.75rem;
  line-height: 0.5rem;
}
.why-etown__wrapper .audience-items__item p {
  margin: 0 0 10% 0;
}

@media screen and (min-width: 1200px) {
  .why-etown__wrapper .audience-items__item {
    display: flex;
    justify-content: space-between;
    margin: 5% 0 0 0;
  }
  .why-etown__wrapper .audience-items__item.reverse {
    flex-direction: row-reverse;
  }
  .why-etown__wrapper .audience-items__item img {
    width: 50%;
  }
  .why-etown__wrapper .audience-items__item .audience-items__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
  }
  .why-etown__wrapper .audience-items__item .audience-items__text p {
    margin: 0 0 2% 0;
  }
  .why-etown__wrapper .audience-items__item .audience-items__text .why-etown__buttons {
    display: block;
    margin: 2% 0 0 0;
    width: 100%;
  }
}
.outcomes__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}
.outcomes__wrapper::before {
  content: "";
  position: absolute;
  top: 0%;
  left: -90%;
  width: 300%;
  height: 100%;
  background-image: url("../images/homepage-stats-lineart-wave1.png");
  background-size: cover;
}
.outcomes__wrapper .outcomes__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  z-index: 3;
}
.outcomes__wrapper .outcomes__item.hidden {
  display: none;
}
.outcomes__wrapper .outcomes__item p {
  color: #FFFFFF;
  margin: 5% 0;
  font-size: 1.25rem;
}
.outcomes__wrapper .outcomes__item .circle-one::before {
  top: -3px;
  left: -3px;
}
.outcomes__wrapper .outcomes__item .circle-two::before {
  top: 5px;
  left: 0px;
}
.outcomes__wrapper .outcomes__item .circle-three::before {
  top: 1px;
  left: 2px;
}
.outcomes__wrapper .outcomes__item .circle-four::before {
  top: 3px;
  left: 1px;
}
.outcomes__wrapper .outcomes__buttons {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.outcomes__wrapper .outcomes__buttons a {
  text-align: center;
  font-size: 1.25rem;
}
.outcomes__wrapper .prev-arrow,
.outcomes__wrapper .next-arrow {
  color: #FFFFFF;
  position: absolute;
  top: 20%;
}
.outcomes__wrapper .prev-arrow span,
.outcomes__wrapper .next-arrow span {
  font-size: 4rem;
}
.outcomes__wrapper .prev-arrow {
  left: 5%;
}
.outcomes__wrapper .next-arrow {
  right: 5%;
}

@media screen and (min-width: 768px) {
  .outcomes__wrapper .outcomes__item {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
  }
  .outcomes__wrapper .outcomes__item .outcomes__circle {
    margin-right: 5%;
  }
  .outcomes__wrapper .outcomes__item .outcomes__text {
    width: 60%;
  }
  .outcomes__wrapper .outcomes__item.hidden {
    display: flex !important;
  }
  .outcomes__wrapper .next-arrow,
.outcomes__wrapper .prev-arrow {
    display: none;
  }
  .outcomes__wrapper .outcomes__buttons {
    justify-content: flex-start;
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .outcomes__wrapper::before {
    width: 100%;
    top: 0;
    left: 0;
  }
  .outcomes__wrapper .outcomes-items__wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .outcomes__wrapper .outcomes-items__wrapper .outcomes__item {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 23%;
  }
  .outcomes__wrapper .outcomes-items__wrapper .outcomes__item .outcomes__text {
    width: 90%;
  }
  .outcomes__wrapper .outcomes__buttons {
    justify-content: center;
    margin: 2% 0 0 0;
  }
}
.social-block__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.social-block__container h2 {
  width: 70%;
  text-align: center;
  font-weight: 700;
  margin: 0 0 2.5% 0;
}
.social-block__container .social-block__wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-block__container .social-block__wrapper .social-block {
  display: block;
  width: 250px;
  height: 250px;
  position: relative;
}
.social-block__container .social-block__wrapper .social-block.hidden {
  display: none;
}
.social-block__container .social-block__wrapper .social-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.social-block__container .social-block__wrapper .social-block .social-block__content {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-block__container .social-block__wrapper .social-block .social-block__content p {
  color: #FFFFFF;
  width: 90%;
  margin: 5px auto;
  font-size: 0.8rem;
}
.social-block__container .social-block__wrapper .social-block .social-block__content h4 {
  margin: 15px 0;
  font-size: 2rem;
}
.social-block__container .social-block__wrapper .social-block .social-callout {
  display: flex;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  padding: 0 5%;
}
.social-block__container .social-block__wrapper .social-block .social-callout img {
  width: 30px;
}
.social-block__container .social-block__wrapper .social-block .social-callout p {
  color: #FFFFFF;
  font-weight: bold;
  margin: 0 0 0 5px;
}
.social-block__container .social-prev-arrow,
.social-block__container .social-next-arrow {
  position: absolute;
  color: #C8C8C8;
  top: 50%;
  cursor: pointer;
}
.social-block__container .social-prev-arrow span,
.social-block__container .social-next-arrow span {
  font-size: 4rem;
}
.social-block__container .social-prev-arrow {
  left: 2.5%;
}
.social-block__container .social-next-arrow {
  right: 2.5%;
}

@media screen and (min-width: 768px) {
  .social-block__container h2 {
    width: 100%;
  }
  .social-block__container .social-block__wrapper {
    flex-wrap: wrap;
  }
  .social-block__container .social-block__wrapper .social-block {
    width: 400px;
    height: 400px;
  }
  .social-block__container .social-block__wrapper .social-block.hidden {
    display: flex;
  }
  .social-block__container .social-block__wrapper .social-block .social-block__content p {
    font-size: 1.4rem;
    margin: 15px auto;
  }

  .social-prev-arrow,
.social-next-arrow {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .social-block__container .social-block__wrapper .social-block {
    width: 500px;
    height: 500px;
  }
  .social-block__container .social-block__wrapper .social-block.hidden {
    display: flex;
  }
}
@media screen and (min-width: 1950px) {
  .social-block__container .social-block__wrapper .social-block {
    width: 600px;
    height: 600px;
  }
  .social-block__container .social-block__wrapper .social-block.hidden {
    display: flex;
  }
}
.news__wrapper {
  color: #FFFFFF;
}
.news__wrapper h3,
.news__wrapper h6,
.news__wrapper hr,
.news__wrapper a {
  margin: 0 0 25px 0;
}
.news__wrapper strong {
  font-weight: 700;
}
.news__wrapper a {
  text-decoration: none;
}
.news__wrapper .news__buttons {
  margin: 0 0 75px 0;
}
.news__wrapper .event {
  margin: 0 0 25px 0;
}
.news__wrapper .event strong {
  color: #FFFFFF;
  margin: 0 0 20px 0;
}
.news__wrapper .event div {
  padding: 0 1%;
  width: 100%;
}
.news__wrapper .event div span,
.news__wrapper .event div p {
  display: inline;
}
.news__wrapper .event div span {
  margin: 15px 5px 0 0;
}

@media screen and (min-width: 1200px) {
  .news__wrapper {
    display: flex;
    justify-content: space-around;
  }
  .news__wrapper .news__section {
    width: 40%;
    position: relative;
    z-index: 15;
  }
}
@media screen and (min-width: 1200px) {
  .whats-next__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .whats-next__wrapper h2 {
    width: 50%;
    text-align: right;
    padding: 0 15% 0 0;
  }
  .whats-next__wrapper .standard__buttons {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin: 0;
  }
  .whats-next__wrapper .standard__buttons a {
    margin: 0 2.5% 0 0;
  }
}
footer#main-footer {
  color: #FFFFFF;
  width: 100vw;
  min-height: 40vh;
  background: #0A2240;
  padding: 15% 7% 0;
  position: relative;
}
footer#main-footer::after {
  content: "";
  background-image: url("../images/E.289-WebFooterBackground.png");
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
}
footer#main-footer li {
  list-style-type: none;
  z-index: 2;
  position: relative;
}
footer#main-footer li a {
  color: #FFFFFF;
  text-decoration: none;
  z-index: 2;
  position: relative;
}
footer#main-footer .logo-contact {
  grid-area: logo-contact;
  z-index: 2;
  position: relative;
}
footer#main-footer .logo-contact img {
  margin: 10% 0 0 0;
  width: 60%;
}
footer#main-footer .logo-contact .contact {
  margin: 7% 0 0 0;
}
footer#main-footer .logo-contact .social {
  margin: 7% 0 0 0;
}
footer#main-footer .logo-contact .social .icons {
  display: flex;
  margin: 25px 0 0 0;
}
footer#main-footer .logo-contact .social .icons a {
  width: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 0;
}
footer#main-footer .logo-contact .social .icons a .social_icon {
  width: 100%;
}
footer#main-footer .resources {
  grid-area: resources;
  z-index: 2;
  position: relative;
}
footer#main-footer .resources h6 {
  text-transform: uppercase;
  margin: 7% 0 15%;
  z-index: 2;
  position: relative;
}
footer#main-footer .resources .resource-links {
  display: none;
  z-index: 2;
  position: relative;
}
footer#main-footer .resources #additional-resources {
  width: 60%;
  padding: 3% 0;
}
footer#main-footer .disclaimer {
  margin: 7% 0 0;
  grid-area: disclaimer;
}
footer#main-footer .disclaimer li,
footer#main-footer .disclaimer p {
  margin: 2% 0;
}

@media screen and (min-width: 768px) {
  footer#main-footer:after {
    width: 75%;
    height: 100%;
  }
  footer#main-footer .logo-contact img {
    width: 35%;
    margin: 0;
  }
  footer#main-footer .connect {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
  }
  footer#main-footer .connect .contact {
    margin: 0;
  }
  footer#main-footer .resources h6 {
    margin: 0;
  }
  footer#main-footer .resources #additional-resources {
    display: none;
  }
  footer#main-footer .resources .resource-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  footer#main-footer .resources .resource-links ul li {
    margin: 0 0 35px 0;
  }
  footer#main-footer .resources .resource-links ul li a {
    font-size: 1.5rem;
    font-weight: 400;
  }
  footer#main-footer .disclaimer ul {
    display: flex;
    flex-wrap: wrap;
  }
  footer#main-footer .disclaimer ul li {
    margin-right: 15px;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  footer#main-footer {
    display: flex;
    padding: 5% 5% 0 5%;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  footer#main-footer:after {
    width: 25%;
    height: 100%;
    right: -5%;
  }
  footer#main-footer .logo-contact {
    width: 30%;
  }
  footer#main-footer .logo-contact img {
    width: 50%;
    margin: 0;
  }
  footer#main-footer .logo-contact .connect {
    flex-direction: column;
  }
  footer#main-footer .resources {
    width: 70%;
  }
  footer#main-footer .disclaimer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-size: 1rem;
  }
  footer#main-footer .disclaimer ul li {
    font-size: 1rem;
  }
}
header#main-header {
  position: relative;
  width: 100vw;
  z-index: 15;
  height: 100%;
}
header#main-header .menu,
header#main-header .close-menu {
  display: none;
}
header#main-header .menu.open,
header#main-header .close-menu.open {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  font-size: 20px;
}
header#main-header .menu.open i,
header#main-header .close-menu.open i {
  font-size: 24px;
  margin: 0 0 0 5px;
}
header#main-header nav.main-navigation {
  background-color: #0A2240;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
}
header#main-header nav.main-navigation .main-navigation__home {
  width: 13%;
  padding: 0 0 0 2%;
}
header#main-header nav.main-navigation .main-navigation__home .logo {
  width: 80%;
}
header#main-header nav.main-navigation .main-navigation__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  height: 100%;
}
header#main-header nav.main-navigation .main-navigation__links li {
  width: 20%;
  white-space: nowrap;
  text-align: center;
  list-style-type: none;
}
header#main-header nav.main-navigation .main-navigation__links li a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25rem;
}
header#main-header nav.main-navigation .main-navigation__links li p {
  color: #004B98;
  font-weight: bold;
}
header#main-header nav.main-navigation .main-navigation__links .hamburger {
  background-color: #FFFFFF;
  height: 100%;
  width: 20%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #004B98;
}
header#main-header nav.main-navigation .main-navigation__links .hamburger p {
  font-weight: bold;
}
header#main-header nav.main-navigation .main-navigation__links .hamburger .menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 0 5px;
}
header#main-header nav.main-navigation .main-navigation__links .hamburger:focus {
  outline: none;
}
header#main-header .secondary-navigation {
  width: 100%;
  min-height: 92vh;
  display: none;
}
header#main-header .secondary-navigation:focus-within .secondary-navigation {
  display: flex;
}
header#main-header .secondary-navigation.open {
  display: flex;
}
header#main-header .secondary-navigation section {
  width: 50%;
  height: 87vh;
}
header#main-header .secondary-navigation .secondary-navigation__information {
  padding: 10%;
  background: #004b98;
  background: linear-gradient(180deg, #004b98 0%, #0a2240 100%);
  color: #FFFFFF;
}
header#main-header .secondary-navigation .secondary-navigation__information h5 {
  margin: 0 0 5% 0;
}
header#main-header .secondary-navigation .secondary-navigation__information ul {
  columns: 2;
  margin: 0 0 5% 0;
}
header#main-header .secondary-navigation .secondary-navigation__information ul li {
  list-style-type: none;
  margin: 0 0 15px 0;
}
header#main-header .secondary-navigation .secondary-navigation__information ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: normal;
}
header#main-header .secondary-navigation .secondary-navigation__information select {
  display: none;
}
header#main-header .secondary-navigation .secondary-navigation__information input {
  width: 85%;
  padding: 3%;
}
header#main-header .secondary-navigation .secondary-navigation__links {
  padding: 4%;
  margin: 0 auto;
  background: #FFFFFF;
  overflow-y: scroll;
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__sub-navs {
  border-bottom: 1px solid #C8C8C8;
  padding: 3% 0;
  color: #004B98;
  cursor: pointer;
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__sub-navs .sub-navs__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__sub-navs .sub-navs__header .sub-navs__title {
  text-transform: uppercase;
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__sub-navs .sub-navs__header .sub-navs__toggle {
  border: 2px solid #3DB5E6;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in;
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__sub-navs .sub-navs__header .sub-navs__toggle span {
  color: #3DB5E6;
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__sub-navs .sub-navs__links {
  display: none;
  cursor: pointer;
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__sub-navs .sub-navs__links:focus {
  display: block;
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__sub-navs .sub-navs__links ul {
  width: 95%;
  margin: 2.5% auto;
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__sub-navs .sub-navs__links ul li {
  list-style-type: none;
  margin: 0 0 15px 0;
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__sub-navs .sub-navs__links ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: normal;
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__sub-navs.open .sub-navs__links {
  display: block;
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__sub-navs.open .sub-navs__toggle {
  transform: rotate(45deg);
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__sub-navs:focus {
  border-bottom: 2px solid #004B98;
  outline: none;
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__sub-navs:focus .sub-navs__toggle {
  transform: rotate(45deg);
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__resources {
  margin: 10% 0 0 0;
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__resources h6 {
  color: #0A2240;
  margin: 0 0 15px 0;
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__resources ul {
  color: #004B98;
  columns: 2;
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__resources ul li {
  list-style-type: none;
  margin: 0 0 15px 0;
}
header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__resources ul li a {
  text-decoration: none;
  color: #004B98;
  font-size: 1rem;
  font-weight: 200;
}

@media screen and (max-width: 1400px) {
  header#main-header nav.main-navigation .main-navigation__links .hamburger {
    width: 25vw;
  }
}
@media screen and (max-width: 1200px) {
  header#main-header {
    overflow-y: scroll;
  }
  header#main-header nav.main-navigation .main-navigation__home {
    width: 25%;
  }
  header#main-header nav.main-navigation .main-navigation__links {
    position: relative;
  }
  header#main-header nav.main-navigation .main-navigation__links li {
    display: none;
  }
  header#main-header nav.main-navigation .main-navigation__links .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw;
  }
  header#main-header .secondary-navigation {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  header#main-header .secondary-navigation section {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  header#main-header .menu, .close header#main-header.open {
    font-size: 16px;
  }
  header#main-header nav.main-navigation {
    height: 8vh;
  }
  header#main-header nav.main-navigation .main-navigation__home {
    width: 35%;
    padding: 0 0 0 5%;
  }
  header#main-header nav.main-navigation .main-navigation__links .hamburger {
    color: #FFFFFF;
    background-color: #0A2240;
    right: 50px;
  }
  header#main-header nav.main-navigation .main-navigation__links .hamburger p {
    align-items: center;
    justify-content: center;
  }
  header#main-header .secondary-navigation {
    background: #004b98;
    background: linear-gradient(180deg, #004b98 0%, #0a2240 100%);
  }
  header#main-header .secondary-navigation .secondary-navigation__information #find-information {
    background: none;
    padding: 5% 3%;
    margin: 0 0 15px 0;
    font-size: 1.2rem;
    color: #FFFFFF;
    outline: none;
    border: none;
    border-bottom: 1px solid #3DB5E6;
  }
  header#main-header .secondary-navigation .secondary-navigation__information #find-information option {
    color: #000000;
  }
  header#main-header .secondary-navigation .secondary-navigation__information .secondary-navigation__audiences {
    display: none;
  }
  header#main-header .secondary-navigation .secondary-navigation__information select#find-information {
    display: block;
    width: 100%;
  }
  header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__resources h6 {
    color: #0A2240;
  }
  header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__resources ul li a {
    color: #0A2240;
  }
  header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__sub-navs {
    color: #0A2240;
  }
  header#main-header .secondary-navigation .secondary-navigation__links .secondary-navigation__sub-navs .sub-navs__links ul li a {
    color: #0A2240;
  }
}
#majors-search__wrapper {
  background: #004B98;
  width: 100vw;
  padding: 5%;
}

.outcome-fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transition: 1s ease-in linear;
}

.outcome-fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transition: 1s ease-in linear;
}

@media screen and (min-width: 768px) {
  .outcome-fadeIn,
.outcome-fadeOut {
    animation: none;
  }
}
.Social-fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transition: 1s ease-in linear;
}

.Social-fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transition: 1s ease-in linear;
}

@media screen and (min-width: 768px) {
  .Social-fadeIn,
.Social-fadeOut {
    animation: none;
  }
}
.audience-fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transition: 1s ease-in linear;
}

.audience-fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transition: 1s ease-in linear;
}

@keyframes fadeOut {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate -25px, 0;
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    transform: translate(25px, 0);
    opacity: 0;
  }
  to {
    transform: translate 0, 0;
    opacity: 1;
  }
}
.accessibility-skips {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
  background: #3DB5E6;
  border: 1px solid #004B98;
  transition: all 250ms ease-in-out;
  padding: 1%;
}
.accessibility-skips:focus-within {
  transform: translate(25px, 25px);
}
.accessibility-skips a {
  text-decoration: none;
  color: #004B98;
}
.accessibility-skips a:focus {
  outline: none;
  text-decoration: underline;
}

#search-majors {
  font-size: 0.95rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2% 4%;
  border-radius: 50px;
  margin: 5% 2% 5% 0;
  display: inline-flex;
  align-items: center;
  background: #3DB5E6;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
#search-majors:hover {
  background: #E1261C;
  color: #FFFFFF;
}

.majors-intro {
  padding: 5% 10%;
}
.majors-intro h1 {
  font-weight: bold;
  font-size: 2.8rem;
}
.majors-intro h6 {
  color: #004B98;
  margin: 1% 0 0 0;
  font-size: 1.68rem;
}
.majors-intro p {
  font-size: 1.4rem;
}

section.input_wrapper {
  padding: 2% 5vw;
}
section.input_wrapper .shownInputs {
  padding: 0 5vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
section.input_wrapper .shownInputs .searchInput {
  width: 40%;
  padding: 3% 0;
  margin: 0 5% 0 0;
  border-right: 2px solid #3DB5E6;
}
section.input_wrapper .shownInputs .searchInput label {
  font-family: clarendon-text-pro, serif;
  font-size: 1.6rem;
  margin: 0 5% 0 0;
}
section.input_wrapper .shownInputs .searchInput input {
  width: 50%;
  padding: 2% 5%;
}
section.input_wrapper .toggleInputs {
  display: flex;
  align-items: center;
  width: 60%;
  cursor: pointer;
}
section.input_wrapper .toggleInputs h5 {
  margin: 0 2% 0 0;
}
section.input_wrapper .toggleInputs .filterCircle {
  width: 40px;
  height: 40px;
  border: 1px solid #3DB5E6;
  border-radius: 100%;
  color: #3DB5E6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in;
}
section.input_wrapper .toggleInputs .filterCircle:hover {
  transform: rotate(-45deg);
}
section.input_wrapper .hiddenInputs {
  display: none;
}
section.input_wrapper .hiddenInputs.show {
  display: flex;
  margin: 3% 0 0 0;
}
section.input_wrapper .hiddenInputs .column .inputWrapper {
  margin: 0 0 1% 0;
}

.accordions_wrapper {
  padding: 0;
  cursor: pointer;
}
.accordions_wrapper article.accordion_wrapper:nth-child(even) {
  background: #C8C8C8;
}
.accordions_wrapper article.accordion_wrapper {
  padding: 2.5% 10vw;
}
.accordions_wrapper article.accordion_wrapper .accordion_outer {
  display: flex;
  align-items: center;
}
.accordions_wrapper article.accordion_wrapper .accordion_outer h2.accordion_title {
  width: 70%;
  font-size: 2.24rem;
  text-transform: uppercase;
  color: #004B98;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.accordions_wrapper article.accordion_wrapper .accordion_outer h2.accordion_title .hover-arrow {
  opacity: 0;
  margin-left: 0;
}
.accordions_wrapper article.accordion_wrapper .accordion_outer .accordion_program {
  width: 25%;
}
.accordions_wrapper article.accordion_wrapper .accordion_outer .filterCircle {
  width: 40px;
  height: 40px;
  border: 1px solid #3DB5E6;
  border-radius: 100%;
  color: #3DB5E6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in;
}
.accordions_wrapper article.accordion_wrapper .accordion_outer .filterCircle:hover {
  transform: rotate(45deg);
}
.accordions_wrapper article.accordion_wrapper.hidden {
  display: none;
}
.accordions_wrapper article.accordion_wrapper.open {
  padding: 5% 10vw;
  background: #004b98;
  background: radial-gradient(circle, #004b98 0%, #0a2240 100%);
}
.accordions_wrapper article.accordion_wrapper.open .accordion_outer {
  display: none;
}
.accordions_wrapper article.accordion_wrapper.open .accordion_inner {
  display: flex;
  color: #FFFFFF;
}
.accordions_wrapper article.accordion_wrapper.open .accordion_inner aside.accordion_meta {
  width: 30%;
}
.accordions_wrapper article.accordion_wrapper.open .accordion_inner aside.accordion_meta .program_type {
  margin: 0 0 2% 0;
}
.accordions_wrapper article.accordion_wrapper.open .accordion_inner section.accordion_main h4, .accordions_wrapper article.accordion_wrapper.open .accordion_inner section.accordion_main p {
  margin: 0 0 2% 0;
}
.accordions_wrapper article.accordion_wrapper:hover .accordion_outer h2.accordion_title .hover-arrow {
  opacity: 1;
  margin-left: 10px;
  transition: 150ms all ease-in;
}
.accordions_wrapper article.accordion_wrapper .accordion_inner {
  display: none;
}

@media screen and (max-width: 1200px) {
  .majors-intro h1 {
    font-size: 1.68rem;
  }
  .majors-intro p {
    font-size: 1rem;
  }
  .majors-intro h6 {
    font-size: 1rem;
  }

  section.input_wrapper .shownInputs {
    flex-direction: column;
    padding: 0 2.5vw;
  }
  section.input_wrapper .shownInputs .searchInput {
    width: 100%;
    border-right: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section.input_wrapper .shownInputs .searchInput input {
    width: 80%;
    margin: 0 0 15px 0;
  }
  section.input_wrapper .shownInputs .toggleInputs {
    width: 100%;
    padding: 0 2.5vw;
  }
  section.input_wrapper .shownInputs .toggleInputs h5 {
    width: 80%;
  }
  section.input_wrapper .hiddenInputs.show {
    flex-direction: column;
  }

  .accordions_wrapper article.accordion_wrapper .accordion_outer {
    flex-direction: column;
  }
  .accordions_wrapper article.accordion_wrapper .accordion_outer h2.accordion_title {
    width: 100%;
    font-size: 1.4rem;
  }
  .accordions_wrapper article.accordion_wrapper .accordion_outer p.accordion_program {
    width: 100%;
  }
  .accordions_wrapper article.accordion_wrapper .accordion_outer .filterCircle {
    display: none;
  }
  .accordions_wrapper article.accordion_wrapper.open .accordion_inner {
    flex-direction: column;
  }
  .accordions_wrapper article.accordion_wrapper.open .accordion_inner aside.accordion_meta {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .accordions_wrapper article.accordion_wrapper.open .accordion_inner aside.accordion_meta div {
    width: 50%;
  }
}
.hero-section {
  width: 100vw;
  min-height: 80vh;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 15%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section .hero-section__content {
  padding: 15% 0 0 0;
}
.hero-section .hero-section__content h1 {
  font-weight: bold;
}
.hero-section .hero-section__content h1 span {
  font-size: 8.4rem;
}
.hero-section .hero-section__content h6 .red {
  background-color: #E1261C;
  padding: 0 15px;
}

@media screen and (max-width: 768px) {
  .hero-section .hero-section__content h1 span {
    font-size: 2.8rem;
  }
}
.etown-circle__large {
  position: relative;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.etown-circle__large::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 250px;
  height: 250px;
  border: 2px solid #3DB5E6;
  border-radius: 100%;
}
.etown-circle__large i.fas {
  font-size: 4rem;
  height: auto;
  margin: 0 0 15px 0;
}

.dark-circle {
  background: #0A2240;
  color: #FFFFFF;
}

.blue-circle {
  background: #004B98;
  color: #FFFFFF;
}

.red-circle {
  background: #E1261C;
  color: #FFFFFF;
}

.lightBlue-circle {
  background: #3DB5E6;
  color: #000000;
}

.gray-circle {
  background: #C8C8C8;
  color: #000000;
}

.fancy-or {
  border-top: 2px solid #3DB5E6;
  border-bottom: 2px solid #3DB5E6;
  padding: 15px;
}

.overlayed-image {
  height: 25vw;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlayed-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;
}
.overlayed-image.blueOverlay::before {
  background-color: #004B98;
}
.overlayed-image.darkOverlay::before {
  background-color: #0A2240;
}
.overlayed-image.grayOverlay::before {
  background-color: #C8C8C8;
}
.overlayed-image.redOverlay::before {
  background-color: #E1261C;
}
.overlayed-image.lightOverlay::before {
  background-color: #3DB5E6;
}

@media screen and (max-width: 1200px) {
  .overlayed-image {
    height: 100vw;
  }
}
.lg-text {
  font-size: 3.36rem;
  margin: 25px 0;
  font-family: clarendon-text-pro, serif;
}

.md-text {
  font-size: 1.12rem;
  margin: 3px 0;
}

.sm-text {
  font-size: 0.84rem;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .lg-text {
    font-size: 2.8rem;
  }

  .md-text {
    font-size: 0.84rem;
  }

  .sm-text {
    font-size: 0.28rem;
  }
}

/*# sourceMappingURL=styles.css.map */
